@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

@import "~normalize.css";

$spacer: 24px;
$spacers: (
	0: 0,
	1: (
		$spacer / 3,
	),
	2: (
		$spacer * 2 / 3,
	),
	3: $spacer,
	4: (
		$spacer * 1.5,
	),
	5: (
		$spacer * 3,
	),
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/embed";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/position";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";

$mdc-theme-primary: #268bd2;
$mdc-theme-secondary: #2aa198;
$mdc-theme-surface: #252525;
$mdc-theme-background: #222;
$mdc-typography-font-family: unquote("Roboto, sans-serif");

@import "~@material/layout-grid/mdc-layout-grid";
@import "~@material/textfield/mdc-text-field";
@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/typography/mdc-typography";

.mdc-top-app-bar__title a {
	color: white;
	text-decoration: none;
}

body {
	background-color: #222;
	color: #eee;
}

a {
	color: $mdc-theme-secondary;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.flex-center {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}
